<div class="p-4 sm:ml-64 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-16">
    {% for transaction in transactions %}
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white dark:bg-gray-800 rounded-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2 text-gray-900 dark:text-white kanit-black">
                {{ transaction.amount }} บาท
            </div>
            <p class="text-gray-700 dark:text-gray-400 text-base kanit-regular">
                จำนวนตั๋ว: {{ transaction.ticket_quantity }}
            </p>
            <p class="text-gray-700 dark:text-gray-400 text-base kanit-regular">
                สถานะ: {{ transaction.status }}
            </p>
            <p class="text-gray-700 dark:text-gray-400 text-base kanit-regular">
                ผู้ใช้: {{ transaction.user.username }}
            </p>
            <p class="text-gray-700 dark:text-gray-400 text-base kanit-regular">
                วันที่ชำระเงิน: {{ transaction.payment_date|date:"d M Y H:i" }}
            </p>
            <p class="text-gray-700 dark:text-gray-400 text-base kanit-regular">
                อีเมล: {{ transaction.user.email }}
            </p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span
                class="inline-block bg-blue-200 text-blue-800 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 kanit-regular">Transaction</span>

            {% if transaction.status == "Verification" %}
            <span
                class="inline-block bg-yellow-200 text-yellow-800 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 kanit-regular">{{ transaction.status }}</span>

            {% elif transaction.status == "Successful" %}
            <span
                class="inline-block bg-green-200 text-green-800 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 kanit-regular">{{ transaction.status }}</span>

            {% elif transaction.status == "Failed" %}
            <span
                class="inline-block bg-red-200 text-red-800 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2 kanit-regular">{{ transaction.status }}</span>

            {% endif %}
        </div>

        {% if transaction.status == "Verification" %}
        <div class="px-6 pt-4 pb-4 flex space-x-4">
            <!-- ปุ่มยกเลิก ใช้ SweetAlert2 -->
            <!-- ฟอร์มสำหรับยืนยันรายการ -->
            <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" name="transaction_id" value="{{ transaction.id }}">

                <!-- ปุ่มยืนยันรายการ -->
                <button type="submit" name="action" value="confirm"
                    class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded kanit-regular text-sm">
                    ยืนยันรายการ
                </button>
            </form>

            <!-- ปุ่มสำหรับยกเลิกรายการ ใช้ SweetAlert2 -->
            <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded kanit-regular text-sm"
                onclick="cancelTransaction('{{ transaction.id }}', '{{ company.id }}')">
                ยกเลิกรายการ
            </button>
        </div>

        {% endif %}

    </div>
    {% endfor %}
</div>