<div class="p-4 sm:ml-64">
   <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-24">
      <!-- Chart -->
      <div class="flex items-center justify-center h-64 mb-4 rounded bg-gray-50 dark:bg-gray-800 mt-8"> 
         <div>
            <canvas id="myChart"></canvas>
         </div>
      </div>

      <!-- Event -->
      <div class="grid grid-cols-2 gap-4 mb-4 mt-16">
         <div class="flex items-center justify-center rounded h-40 dark:bg-gray-800"> 
            <div class="flex flex-col space-y-8">
               <p class="text-3xl font-bold kanit-black"> 
                  Event ที่สร้าง {{ event }}
               </p>
               <a href="{% url 'transaction' company.id %}">
                  <button type="button"
                     class="kanit-black text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-6 py-3 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> <!-- ขยายขนาดปุ่ม -->
                     สร้างอีเวนต์เพิ่ม
                  </button>
               </a>
            </div>
         </div>

         <!-- Transaction -->
         <div class="flex items-center justify-center rounded h-40 dark:bg-gray-800"> 
            <div class="flex flex-col space-y-8">
               <p class="text-3xl font-bold kanit-black"> 
                  ธุรกรรมทั้งหมด {{ transaction }}
               </p>
               <a href="{% url 'transaction' company.id %}">
                  <button type="button"
                     class="kanit-black text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-lg px-6 py-3 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"> <!-- ขยายขนาดปุ่ม -->
                     ดูธุรกรรมทั้งหมด
                  </button>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
