{% load static %}
<main class="w-3/5 mt-14 bg-white border border-gray-200 rounded-lg shadow p-12 flex flex-col">
    <h1 class="text-3xl text-left kanit-black-italic">รายละเอียดการชำระเงิน</h1>
    <div class="relative overflow-x-auto mt-16">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                <tr class="text-l">
                    <th scope="col" class="px-6 py-3 rounded-s-lg kanit-black-italic text-gray-800">
                        เลขที่การชำระเงิน
                    </th>
                    <th scope="col" class="px-6 py-3 kanit-regular text-gray-800">
                        วันที่ชำระเงิน
                    </th>
                    <th scope="col" class="px-6 py-3 kanit-regular text-gray-800">
                        ราคา
                    </th>
                    <th scope="col" class="px-6 py-3 rounded-e-lg kanit-regular text-gray-800">
                        จำนวน
                    </th>
                    <th scope="col" class="px-6 py-3 rounded-e-lg kanit-black-italic text-gray-800">
                        ราคารวม
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white dark:bg-gray-800 text-l">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white kanit-black-italic">
                        {{ payment.id }}
                    </th>
                    <td class="px-6 py-4 kanit-regular text-gray-700">
                        {{ payment.payment_date|date:"d/m/Y H:i" }}
                    </td>
                    <td class="px-6 py-4 kanit-regular text-gray-700">
                        {{ payment.event.ticket_price }} บาท
                    </td>
                    <td class="px-6 py-4 kanit-regular text-gray-700">
                        {{ payment.ticket_quantity }} 
                    </td>
                    <td class="px-6 py-4 kanit-black-italic text-gray-700">
                        {{ payment.amount }} บาท
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
