
<ol class="flex justify-center items-center w-full space-y-4 sm:space-y-0 sm:space-x-32 rtl:space-x-reverse">
    <li class="flex items-center text-blue-600 dark:text-blue-700 space-x-2.5 rtl:space-x-reverse">
        <span class="flex items-center justify-center w-8 h-8 border border-blue-600 rounded-full shrink-0 dark:border-blue-500">
            1
        </span>
        <span>
            <h3 class="font-medium leading-tight kanit-small">ลงทะเบียนรับตั๋ว</h3>
        </span>
    </li>
    <li class="flex items-center text-blue-600 dark:text-blue-700 space-x-2.5 rtl:space-x-reverse">
        <span class="flex items-center justify-center w-8 h-8 border border-blue-600  rounded-full shrink-0 dark:border-blue-500">
            2
        </span>
        <span>
            <h3 class="font-medium leading-tight kanit-small">ชำระเงิน</h3>
        </span>
    </li>
    <li class="flex items-center text-blue-600 dark:text-blue-700 space-x-2.5 rtl:space-x-reverse">
        <span class="flex items-center justify-center w-8 h-8 border border-blue-600  rounded-full shrink-0 dark:border-blue-500">
            3
        </span>
        <span>
            <h3 class="font-medium leading-tight kanit-small">สำเร็จ</h3>
        </span>
    </li>
</ol>