{% extends "general/components/layout.html" %}
{% load static %}
{% load socialaccount %}
{% load custom_filters %}
{% block title %}เปลี่ยนรหัสผ่าน - {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">

<form method="POST">
    {% csrf_token %}
    <!-- ระดับ form -->
    <div class="flex items-center justify-end mr-48">
        <div class="bg-white rounded-lg shadow-lg p-6 max-w-sm w-full mt-8">
            <h2 class="text-3xl font-bold mb-4 kanit-black">รีเซ็ตรหัสผ่าน</h2>
            {{ form.email }}
            <div class="text-red-700 kanit-small">
                {{ form.email.errors.as_text }}
            </div>
            <div class="mt-8">
                <button type="submit"
                    class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 rounded kanit-small" id="popup">ดำเนินการต่อ</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block script %}
<script src="{% static 'users/js/popup.js' %}"></script>
{% endblock %}