<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section>
        <p class="text-3xl font-bold mb-4 kanit-black">สวัสดี {{ user.username }},</p>
        <p class="text-xl mb-4 kanit-black">ผู้จัดอีเวนต์ได้ทำตรวจสอบการชำระเงินของคุณเรียบร้อยแล้ว</p>
        <!-- {{ reset_link }} มาจาก view  -->
        <p class="text-xl mb-4 kanit-black"><a href="{{ link }}" class="text-blue-500 underline">รับบัตร</a></p>
        <p class="text-xl mb-4 kanit-black text-red-700">กรุณาอย่าแชร์ link นี้ให้กับคนอื่น</p>
        <p class="text-xl mb-4 kanit-black">หากคุณไม่ได้ทำการร้องขอนี้ กรุณาละเลยอีเมลนี้</p>
    </section>
</body>
</html>
