{% extends "general/components/layout.html" %}
{% load static %}
{% block title %}คำร้องเปลี่ยนรหัสผ่าน - {% endblock %}
{% block nav %}
{% include "general/components/navbar.html" %}
{% endblock %}
{% block content %}
<section>
    <p class="text-3xl font-bold mb-4 kanit-black">สวัสดี {{ user.username }},</p>
    <p class="text-2xl mb-4 kanit-black">ใกล้ถึงเวลาของ {{ event.name }} อย่าลืมมาร่วมมานะ!!!</p>
</section>



{% endblock %}
{% block footer %}
{% include "general/components/footer.html" %}
{% endblock %}