<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section>
        <p class="text-3xl font-bold mb-4 kanit-black">สวัสดี {{ user.username }},</p>
        <p class="text-xl mb-4 kanit-black">คุณได้ร้องขอให้เปลี่ยนรหัสผ่านของคุณ กรุณาคลิกลิงก์ด้านล่างเพื่อตั้งรหัสผ่านใหม่:</p>
        <!-- {{ reset_link }} มาจาก view  -->
        <p class="text-xl mb-4 kanit-black"><a href="{{ reset_link }}" class="text-blue-500 underline">เปลี่ยนรหัสผ่านของคุณ</a></p>
        <p class="text-xl mb-4 kanit-black">หากคุณไม่ได้ทำการร้องขอนี้ กรุณาละเลยอีเมลนี้</p>
    </section>
</body>
</html>
