{% extends "general/components/layout.html" %}
{% load static %}
{% block title %}คำร้องเปลี่ยนรหัสผ่าน - {% endblock %}
{% block nav %}
{% include "general/components/navbar.html" %}
{% endblock %}
{% block content %}
<section>
    <p class="text-3xl font-bold mb-4 kanit-black">สวัสดี {{ user.username }},</p>
    <p class="text-xl mb-4 kanit-black">คุณได้ร้องขอให้เปลี่ยนรหัสผ่านของคุณ กรุณาคลิกลิงก์ด้านล่างเพื่อตั้งรหัสผ่านใหม่:</p>
    <!-- {{ reset_link }} มาจาก view  -->
    <p class="text-xl mb-4 kanit-black"><a href="{{ reset_link }}" class="text-blue-500 underline">เปลี่ยนรหัสผ่านของคุณ</a></p>
    <p class="text-xl mb-4 kanit-black">หากคุณไม่ได้ทำการร้องขอนี้ กรุณาละเลยอีเมลนี้</p>
</section>

{% endblock %}
{% block footer %}
{% include "general/components/footer.html" %}
{% endblock %}