{% extends "general/components/layout.html" %}
{% load static %}
{% block title %}คำร้องเปลี่ยนรหัสผ่าน - {% endblock %}
{% block nav %}
{% include "general/components/navbar.html" %}
{% endblock %}
{% block content %}

<div class="min-h-screen flex flex-col justify-center items-center">
    {% include "users/components/payment_step.html" %}
</div>

{% block script %}
<script src="{% static 'general/js/navbar.js' %}"></script>
{% endblock %}

{% endblock %}
{% block footer %}
{% include "general/components/footer.html" %}
{% endblock %}

