{% extends "general/components/layout.html" %}
{% load static %}
{% block title %}งานที่ผ่านไปแล้ว - {% endblock %}
{% block nav %}
{% include "general/components/navbar.html" %}
{% endblock %}
{% block content %}

<section class="min-h-screen flex items-start justify-center space-x-8 mt-24">
    {% include "users/components/cardticket.html" %}
    {% include "users/components/cardticketpastview.html" %}
</section>

{% endblock %}
{% block script %}
<script src="{% static 'general/js/navbar.js' %}"></script>
{% endblock %}

{% block footer %}
{% include "general/components/footer.html" %}
{% endblock %}