{% extends "general/components/layout.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block nav %}
{% include "general/components/navbar.html" %}
{% endblock %}
{% block content %}

<section class="min-h-screen flex items-start justify-center space-x-8 mt-24">
    {% include "users/components/cardprofilepassword.html" %}
    <main class="w-3/5 mt-14 bg-white border border-gray-200 rounded-lg shadow p-12 flex flex-col">
        <h1 class="text-3xl text-left kanit-black-italic">รีเซ็ตรหัสผ่าน</h1>
        <form method="POST">
            {% csrf_token %}
            <!-- ระดับ form -->
            <div class="flex items-center justify-end mr-48">
                    <h2 class="text-3xl font-bold mb-4 kanit-black"></h2>
                    {{ form.email }}
                    <div class="text-red-700 kanit-small">
                        {{ form.email.errors.as_text }}
                    </div>
                    <div class="mt-8">
                        <button type="submit"
                            class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 rounded kanit-small"
                            id="popup">ดำเนินการต่อ</button>
                </div>
            </div>
        </form>
    </main>
</section>

{% endblock %}
{% block script %}
<script src="{% static 'general/js/navbar.js' %}"></script>
{% endblock %}

{% block footer %}
{% include "general/components/footer.html" %}
{% endblock %}