{% extends "general/components/layout.html" %}
{% load static %}
{% block title %}ชำระเงิน - {% endblock %}
{% block nav %}
{% include "general/components/navbar.html" %}
{% endblock %}
{% block content %}

<div class="min-h-screen flex flex-col justify-center items-center mt-8">
    {% include "users/components/validate_step.html" %}
    <section class="mt-4 text-center">
        <h2 class="kanit-black-italic text-3xl">โปรดรอการตรวจสอบจากผู้จัดอีเว้นต์</h2>
    </section>
</div>


{% block script %}
<script src="{% static 'general/js/navbar.js' %}"></script>
{% endblock %}

{% endblock %}
{% block footer %}
{% include "general/components/footer.html" %}
{% endblock %}